<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>首页-{$pos.c}</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/back/css/pintuer.css" >
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/back/css/admin.css">
    <script  type="text/javascript" src="__PUBLIC__/back/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/back/js/pintuer.js"></script>

</head>
<body>
<ul class="bread  clearfix">
    <li><a href="__MODULE__/Index/index" target="right" class="icon-home"> 首页</a></li>
    <li><a href="__CONTROLLER__/index" id="a_leader_txt">{$pos.c}</a></li>
    <li><a href="__ACTION__">{$pos.a}</a></li>
</ul>
