<layout name="layout" /><!--用户列表页面-->
<style>
    .submit input{background: none; border:none;color:#f00;}
    .submit:hover input{color:#fff;}
</style>
<div class="panel">
<form method="post" action="__CONTROLLER__/del">
  <div class="padding">
      <ul class="search" style="padding-left:10px;">

          <a class="button border-blue" href="__CONTROLLER__/add"><span class="icon-plus-square-o"></span>{$action_name.add}</a>
          <a class="button border-red submit" href="javascript:;" ><span class="icon-trash-o"></span><input type="submit"  value="批量{$action_name.del}" ></a>

          <div class="right">
              <li>部门
                  <select name="bumen" class="input"  style="width:160px; line-height:17px; display:inline-block" class="bumen">
                      <option value="-1">选择部门</option>
                      <foreach name="bu_men" item="v" key="k">
                          <option value="{$v}">&nbsp;├ &nbsp;{$v}</option>
                      </foreach>
                  </select>
              </li>
              <li>角色
                  <select name="role_id" class="input"  style="width:160px; line-height:17px; display:inline-block" class="role">
                      <option value="-1">选择角色</option>
                      <foreach name="role_n" item="v">
                          <option value="{$v.id}">&nbsp;├ &nbsp;{$v.n}</option>
                      </foreach>
                  </select>
              </li>
              <li>创建人
                  <select name="role_id" class="input"  style="width:160px; line-height:17px; display:inline-block" class="found">
                      <option value="-1">选择创建人</option>
                      <foreach name="found" item="v">
                          <option value="{$v.id}">&nbsp;├ &nbsp;{$v.u_name}</option>
                      </foreach>
                  </select>
              </li>
              <li>
                  <input type="text" placeholder="请输入搜索姓名" name="keywords" class="input" style="width:250px; line-height:17px;display:inline-block" />
                  <a href="javascript:void(0)" class="button border-main icon-search" > 搜索</a></li>
          </div>

      </ul>
  </div> 
  <table class="table table-hover text-center">
    <tr>

      <th  width="8%" style="text-align:left; padding-left:20px;"><input type="checkbox" id="checkall"/>全选</th>

      <eq name="u_id" value="$a_id"><th>用户编号</th></eq>
      <th>用户名</th>
      <th>所在部门</th>
      <th>身份角色</th>
      <th>用户创建人</th>
      <th>操作</th>
    </tr>
   <tbody>
     <foreach name="list" item="v" >
       <tr>

       <td>
       <input type="checkbox" name="id[]" value="{$v.id}" />
       </td>

       <td>{$v.id}</td>
       <td>{$v.u_name}</td>
       <td><a href="__CONTROLLER__/index?bumen={$v.bumen}">{$v.bumen}</a></td>
       <td><a href="__CONTROLLER__/index?role={$role.id}">{$role.n}</a></td>
      <td>{$fv.u_name}</td>
      <td>
      <div class="button-group">

       <a class="icon-edit" href="__CONTROLLER__/update?id={$v.id}"> {$action_name.update}</a>
       <a class="icon-trash-o" href="__CONTROLLER__/del?id={$v.id}" onclick="return confirm('您确定要删除吗?')"> {$action_name.del}</a>

      <a class="icon-edit" href="__CONTROLLER__/update?id={$v.id}"> {$action_name.update}</a>

      </div>
      </td>
    </tr>
     </foreach>
  </tbody>  
  </table>
</form>
    <ul class="pagelist">    {$show} <span>共 {$count} 个用户</span></ul>
</div>

