    <title>我的设置</title>
</head>
<body class="set-index">
    <h3>
        <a  onclick="javascript :history.back(-1)" >←</a> | 我的设置
        <a  href="__MODULE__/Index/index" class="float-right">主页</a>
    </h3>
    <ul class="padding">
        <li><a href="__CONTROLLER__/cusBase"><span class="icon-cogs"></span> 基本设置</a></li>
        <li><a href="__CONTROLLER__/phone"><span class="icon-mobile-phone" style="font-size: 22px;"></span>  &nbsp; 手机号</a></li>
        <li><a href="__CONTROLLER__/pass"><span class="icon-key"></span> 修改密码</a></li>
        <li><a href="__MODULE__/Login/logout"><span class="icon-signout"></span> 退出</a></li>
    </ul>
<include file="Public:foot_nav" />