<layout name="layout" />
<title>商品下单</title>
</head>
<body class="pay">
<h3>
    <a  onclick="javascript :history.back(-1)" >←</a> | 商品下单   <a href="__MODULE__/Index/index" class="float-right">主页</a>
</h3>

    <form action="__CONTROLLER__/index"   method="post">
        <div class="form-group">
            <div class="field">
                <input type="text" class="input w100" name="product_name" placeholder="商品名称"    value="测试商品"/>
                <div class="tips"></div>
            </div>
        </div>
        <input type="hidden" class="input w100" name="product_id"  value="S0001"/>
        <div class="form-group">
            <div class="field">
                <input type="text" class="input w100" name="body" placeholder="商品描述"    value="商品描述"/>
                <div class="tips"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="field">
                <input type="text" class="input w100" name="total_fee" placeholder="商品金额"    value="0.01"/>
                <div class="tips"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="field" style="text-align: center">
                <button class="button bg-main" type="submit">确认下单</button>
                &nbsp;  &nbsp;  &nbsp;
                <input type="reset" value="清空重置" class="button bg-main" >
            </div>
        </div>
    </form>
