<layout name="layout" /><!--系统设置-->
        <style>
            .form-x .form-group .label{width:200px;}
            .input{float: left;}
            .form-x .form-group .field {
                float: left;
                width: 81%;
            }
            .body-content ul{ padding-left: 0px; font-size: 16px; margin-bottom: 30px;}
            .body-content ul li{float: left; margin-right: 10px; margin-bottom: 10px;}
        </style>
<div class="panel admin-panel">
  <div class="body-content">
      <ul>
          <notempty name="operate">
              <li>其它系统操作: </li>
              <foreach name="operate" item="v" >
              <li><a href="javascript:;" onclick="oldf('{$v.execs}')">{$v.n}</a></li>
              </foreach>
          </notempty>
          <hr/>
      </ul>
    <form method="post" class="form-x" action="__CONTROLLER__/index">
      <div class="form-group">
        <div class="label">
          <label>快捷操作列表ID：</label>
        </div>
        <div class="field">
          <input type="number" class="input" name="quick" value="{$con.quick}" data-validate="number:必须是数字类型" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>普通管理员角色ID：</label>
        </div>
        <div class="field">
            <input type="number" class="input" name="p_r_id" value="{$con.prid}"  data-validate="number:必须是数字类型"/>
            <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>普通管理员授权的角色ID：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="p_r_id_c" value="{$con.pridc}" />
            <span class="tipss">多个ID 号中间用逗号隔开</span>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>是否添加多个超级管理员：</label>
        </div>
        <div class="field">
            <div class="button-group radio">
                <eq name="con.asa" value="FALSE">
                    <label class="button active">
                        <input name="a_s_a" value="FALSE" type="radio" checked="checked">否
                    </label>
                    <label class="button">
                        <input name="a_s_a" value="TRUE" type="radio" >是
                    </label>
                <else />
                    <label class="button">
                        <input name="a_s_a" value="FALSE" type="radio">否
                    </label>
                    <label class="button  active">
                        <input name="a_s_a" value="TRUE" type="radio" checked="checked">是
                    </label>
                </eq>
            </div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
            <label>普通管理员添加其他部门人员：</label>
        </div>
        <div class="field">
            <div class="button-group radio">
                <eq name="con.asc" value="FALSE">
                    <label class="button active">
                        <input name="a_s_c" value="FALSE" type="radio" checked="checked">否
                    </label>
                    <label class="button">
                        <input name="a_s_c" value="TRUE" type="radio" >是
                    </label>
                    <else />
                    <label class="button">
                        <input name="a_s_c" value="FALSE" type="radio">否
                    </label>
                    <label class="button  active">
                        <input name="a_s_c" value="TRUE" type="radio" checked="checked">是
                    </label>
                </eq>
            </div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>列表页 一页 数量：</label>
        </div>
        <div class="field">
            <input type="number" class="input" name="p_o_c" value="{$con.poc}" />
          <div class="tips"></div>
        </div>
      </div>
        <div class="form-group">
            <div class="label">
                <label>任务提醒间隔 时间：</label>
            </div>
            <div class="field">
                <input type="number" class="input" name="t_i" value="{$con.tint}" />
                <div class="tipss">单位为分钟</div>
            </div>
        </div>
      <div class="form-group">
        <div class="label">
          <label>拒绝其他用户访问的权限ID： </label>
        </div>
        <div class="field">
          <input type="text" class="input" name="deny_l_id"   value="{$con.denylid}"/>
            <span class="tipss">多个ID 号中间用逗号隔开</span>
        </div>
      </div>
        <div class="form-group">
            <div class="label">
                <label>系统管理名称： </label>
            </div>
            <div class="field">
                <input type="text" class="input" name="web_name"   value="{$con.webname}"/>
                <span class="tipss"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="label">
                <label>邮箱服务器端口： </label>
            </div>
            <div class="field">
                <input type="text" class="input" name="s_port"   value="{$con.sport}"/>
                <span class="tipss"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="label">
                <label>邮箱SMTP服务器： </label>
            </div>
            <div class="field">
                <input type="text" class="input" name="s_server"   value="{$con.sserver}"/>
                <span class="tipss"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="label">
                <label>邮箱SMTP账号： </label>
            </div>
            <div class="field">
                <input type="text" class="input" name="s_mail"   value="{$con.smail}"/>
                <span class="tipss"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="label">
                <label>邮箱SMTP服务器： </label>
            </div>
            <div class="field">
                <input type="text" class="input" name="s_pass"   value="{$con.spass}"/>
                <span class="tipss"></span>
            </div>
        </div>
        <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main" type="submit"  onclick="return confirm('系统设置修改可能出现其他文件错误\n 请谨慎操作')"> 保存提交</button>
          &nbsp; &nbsp; &nbsp;
           <button class="button bg-main" type="button" onclick="javascript :history.back(-1);"> 直接返回</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
    function oldf(action) // 执行清理文件
    {
        $.post('__CONTROLLER__/'+action,'',function(data){
            if(data=="empty")
            {
                alert("没有要清理的文件");
            }
            else if(data=="ok")
            {
                alert("文件清理完毕");
            }else
            {
                console.log(data);
            }
        })
    }
</script>
