<layout name="layout" />
    <title>我的推荐列表</title>
</head>
<body class="line-index">
<h3>
    <a onclick="javascript :history.back(-1)" >←</a> | 我的推荐 <a class="float-right" href="__MODULE__/Index/index">主页</a>
</h3>
<empty name="list">
    <p class="text-center padding"  style="border-bottom: 1px solid #cbcbcb;">暂无推荐<a href="__CONTROLLER__/add"> 现在去推荐 </a></p>
    <else />
<form action="__CONTROLLER__/del" method="post">
    <table class="table table-hover text-center">
       <tr>
           <th><input type="checkbox" id="checkall"/> 全选</th>
           <th><a href="__MODULE__/Line/add">添加推荐</a></th>
           <th><input type="button"  value="删除推荐" class="submit" onclick="DelSelect($(this))"></th>
       </tr>
        <tbody>
        <foreach name="list" item="v" >
            <tr>
                <td><input type="checkbox" name="id[]" value="{$v.id}" /></td>
                <td>{$v.n} &nbsp;  &nbsp; &nbsp;
                    <eq name="v.state" value="1">未审核</eq>
                    <eq name="v.state" value="2"><a style="color:#0099FF">审核通过</a></eq>
                    <eq name="v.state" value="3"><a style="color:#ee3333">未通过审核</a></eq>
                </td>
                <td>
                    <div class="button-group">
                        <a class="icon-edit" href="__CONTROLLER__/update?id={$v.id}" ></a>

                        <neq name="v.state" value="2">
                            <a class="icon-trash-o" href="__CONTROLLER__/del?id={$v.id}" onclick="return confirm('您确定要删除吗?')"> </a></neq>
                    </div>
                </td>
            </tr>
        </foreach>
        </tbody>
    </table>
    <ul class="pagelist">{$page} <span>共 {$count} 条消息</span></ul>
 </form>
</empty>
