<layout name="layout" /><!--用户添加页面-->
<div class="panel  admin-panel">
  <div class="body-content">
    <p class="red">密码不填写默认 123456</p>
    <form method="post" class="form-x" action="__CONTROLLER__/execAdd">
      <div class="form-group">
        <div class="label">
          <label>用户名：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="u_name"  data-validate="required:,title:用户名长度2--10个字符"  value=""/>
          <div class="tips"></div>
        </div>
      </div>
        <div class="form-group">
            <div class="label">
                <label >用户密码：</label>
            </div>
            <div class="field">
                <input type="password" class="input w50" name="u_pass" size="50" placeholder="请输入新密码" data-validate="userp:密码6--12位字符英文 数字 .@ ! - _"  value=""/>
            </div>
        </div>
        <div class="form-group">
            <div class="label">
                <label>确认密码：</label>
            </div>
            <div class="field">
                <input type="password" class="input w50" name="u_pass2" size="50" placeholder="请再次输入新密码" data-validate="repeat#u_pass:两次输入的密码不一致"  value=""/>
            </div>
        </div>
        <div class="form-group">
            <div class="label">
                <label>所在部门：</label>
            </div>
            <div class="field">
               <select name="bumen" class="input" style="width:160px; line-height:17px; display:inline-block;" >
                   <option  value="-1">请选择用户所在部门</option>
                   <php>
                       if(is_array($bu_men))
                       {
                   </php>
                   <foreach name="bu_men" item="v">
                       <option value="{$v}">&nbsp;├ &nbsp;{$v}</option>
                   </foreach>
                   <php>
                       }
                       else
                       {
                         echo '<option value="'.$bu_men.'" selected>&nbsp;├ &nbsp;'.$bu_men.'</option>';
                        }
                   </php>

              </select>
                &nbsp;  &nbsp;<span class="red" style="display: none">请选择用户所在部门</span>
            </div>
        </div>
        <div class="form-group">
            <div class="label">
                <label>用户角色：</label>
            </div>
            <div class="field">
                <select  name="role_id" class="input"  style="width:160px; line-height:17px; display:inline-block;" >
                    <option  value="-1">请选择用户的角色</option>
                    <foreach name="role" item="v" key="k">
                        <option value="{$v.id}">&nbsp;├ &nbsp;{$v.n}</option>
                    </foreach>
                </select>
                &nbsp;  &nbsp;<span class="red" style="display: none">请选择用户的角色</span>
            </div>
        </div>

     <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main" type="submit">保存提交</button>
             &nbsp;  &nbsp;  &nbsp;
         <button class="button bg-main" type="button" onclick="javascript :history.back(-1);">直接返回</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
    $('select').each(function(){
        var t=$(this);
        $(this).blur(function(){
            if($(this).val()=="-1")
            {
                t.css('borderColor','red').siblings('.red').css('display','inline-block');
                return false;
            }
       });
        $(this).focus(function(){
            t.css('borderColor','#ddd').siblings('.red').css('display','none');
        });
        $('form').submit(function(){
            $('select').each(function(){
                $(this).trigger("blur");
            })
        })
    });
</script>
