{layout name="layout" /}
<div class="padding">
    {foreach $menu_data['m_de'] as $k=>$v}
        <div class="block"><h3>  {$v}</h3>
        {foreach $menu_data['c_de'][$k] as $kk=>$vv}
        <h4>{$vv}</h4>
            {foreach $menu_data['a_de'][$k][$kk] as $kkk=>$vvv}
            <h5 data-place="{$k}-{$kk}-{$kkk}">{$vvv}</h5>
            {/foreach}
        {/foreach}
        </div>
    {/foreach}
</div>
<style>
    .block{ margin: 20px 50px; display: inline-table; line-height: 2em;}
    h4{ padding-left: 20px;}
    h5{ padding-left: 60px;}
</style>
