<IfModule mod_rewrite.c>
RewriteEngine on

Options -Indexes
#DirectoryIndex  index.php
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www\.)?cms.com/ [NC] ## 更换自己的域名
RewriteRule .*\.(gif|jpg|png)$ /404.html [NC]  ##防盗链图片

RewriteCond %{HTTP_HOST} ^(www\.cms\.com)(:80)? [NC]
RewriteRule ^(.*) http://cms.com/$1 [L] ## 如果访问的是www.cms.com 就访问 cms.com

#RewriteRule (.*)\.(txt|xls|zip)$ /404.html [R,L]  ##禁止访问数据文件
RewriteRule (.*)\.(txt)$ /404.html [R,L]  ##禁止访问数据文件
#13 14 行 是用于 Price.php 文件 使用用户ajax下载  无法下载
RewriteRule ^Tem.*\.php /404.html [R,L]
RewriteRule [^(\/Php\/Controll)|(\/Static/js)|(\/Static/img)|(\/Static/css)]/(.*)$ /404.html [R,L] ## 允许访问指定目录
#16,17行 有待改善
#/Data/Txt/type.txt     /Data/index.php 失效
#/Common/index.php
#/Tem/index.php
#/Log/index.php
#/Php/index.php
#/Php/Class/index.php
#/Static/index.php
# ~* /(data|uploads|templets|images|a)/.*\.php$

<FilesMatch "(\.htaccess|README\.md|robots\.txt)$"> #禁止访问的根目录文件
    ## Apache 2.2
    Order allow,deny
    Deny from all
    Satisfy All

    ## Apache 2.4
    # Require all denied
</FilesMatch>
ErrorDocument 404 /404.html
ErrorDocument 403 /404.html
ErrorDocument 500 /404.html
</IfModule>