<layout name="layout" />
    <title>重置密码</title>
</head>
<body class="line-add">
<h3>
    | 重置密码 <a  href="__MODULE__/Index/index" class="float-right">主页</a>
</h3>
<p class="red">其中一个值为空默认不修改</p>

<form action="__CONTROLLER__/execPass" method="post"  style="height:75%">
    <div class="form-group  margin-small-top">
        <div class="field">
            <input type="text" class="input w100" name="n" data-validate="title:用户名长度2--10个字符"  value="" placeholder="如果原名称为空请使用微信名"/>
            <div class="tips"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="field">
            <input type="password" class="input w100" name="pass" placeholder="新密码"  data-validate="userp:密码6--12位字符英文 数字 .@ ! - _"   value=""/>
            <div class="tips"></div>
        </div>
    </div>
    <div class="form-group">
        <div class="field">
            <input type="password" class="input w100" name="pass2" placeholder="确认密码" data-validate="repeat#pass:两次输入的密码不一致"    value=""/>
            <div class="tips"></div>
        </div>
    </div>
    &nbsp;
    <div class="form-group margin-large-top">
        <div class="field" style="text-align: center">
            <button class="button bg-main" type="submit">保存提交</button>
            &nbsp;  &nbsp;  &nbsp;
            <button class="button bg-main" type="button" onclick="javascript :history.back(-1);">直接返回</button>
        </div>
    </div>
</form>

<include file="Public:foot" />