<div class="fixed-bottom"> <!-- 只可在 Info 控制器中使用-->
    <a href="__MODULE__/Money/index">¥ 佣金</a>
    <a href="https://mp.weixin.qq.com/bizmall/mallshelf?id=&t=mall/list&biz=MzI4ODU2MTY1Nw==&shelf_id=1&showwxpaytitle=1&devicetype=android-26&version=26060135&lang=zh_CN" class=" icon-gift"> 项目</a>
    <a href="__MODULE__/Line/index" class="icon-star-empty"> 推荐</a>
    <a href="__MODULE__/Info/index?status=1" class="icon-bell-alt"> 我的
        <egt name="meg" value="1"><sup>{$meg}</sup></egt></a>
</div>